@using Microsoft.AspNetCore.Hosting
@using Microsoft.Extensions.Hosting
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SpaDotNetCoreApp</title>

    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css"
        asp-fallback-href="~/lib/twitter-bootstrap/css/bootstrap.min.css"
        asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"
        crossorigin="anonymous"
        integrity="sha512-rO2SXEKBSICa/AfyhEK5ZqWFCOok1rcgPYfGOqtX35OyiraBg6Xa4NnBJwXgpIRoXeWjcAmcQniMhp22htDc6g==" />

    <link rel="stylesheet" href="~/css/site.min.css" />
    @await RenderSectionAsync("Head", required: false)
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index">Reload</a>
            </div>
        </nav>
    </header>
    <main class="container-fluid row">
        <div class="">
            <partial name="_Navigation" />
        </div>
        <div class="col">
            @RenderBody()
        </div>
    </main>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - SpaDotNetCoreApp - <a href="#/privacy">Privacy</a>
        </div>
    </footer>

    <script src="//cdnjs.cloudflare.com/ajax/libs/systemjs/6.2.3/system.min.js"
            asp-fallback-src="~/lib/systemjs/system.min.js"
            asp-fallback-test="window.System" 
            crossorigin="anonymous"
            integrity="sha512-X+43WJcsu13RFX9wxhlsJJzG987y9/aVdodotZGwu4HojZGSvyw+pIL/CnXUCZKR4ckOj/QZyHeclkOk7Esr8w==">
    </script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/systemjs/6.2.3/extras/named-register.min.js"
            asp-fallback-src="~/lib/systemjs/extras/named-register.min.js"
            asp-fallback-test="window.System.registerRegistry" crossorigin="anonymous"
            integrity="sha512-wxiDgcPPzAXWb46GDxmzktEzYx8lLg0vInaF2pen2GSo8XiclWw3XBlyKS42Nz3ZusdDJdMGUVllVYyfzcYu1g==">
    </script>
    <environment exclude="Development">
        <script>System.import("@this.AddFileVersionToPath("/app.min.js")").then(function () { System.import('main'); });</script>
    </environment>
    <environment include="Development">
        <script>System.import("@this.AddFileVersionToPath("/app.js")").then(function () { System.import('main'); });</script>
    </environment>
    @await RenderSectionAsync("Bottom", required: false)
</body>
</html>
