<ul class="list-group list-group-flush">
    <li class="list-group-item">
        <a href="#/">/</a>
    </li>
    <li class="list-group-item">
        <a href="#/privacy">/privacy</a>
    </li>
    <li class="list-group-item">
        <a href="#/parametrized">/parametrized</a>
    </li>
    <li class="list-group-item">
        <a href="#/parametrized/a/b">/parametrized/a/b</a>
    </li>
    <li class="list-group-item">
        <a href="#/parametrized/a/b/c">/parametrized/a/b/c</a>
    </li>
    <li class="list-group-item">
        <a href="#/parametrized/a/b/c/d">/parametrized/a/b/c/d</a>
    </li>
    <li class="list-group-item">
        <a href="#/server-template">/server-template</a>
    </li>
    <li class="list-group-item">
        <a href="#/server-template/value1">/server-template/value1</a>
    </li>
    <li class="list-group-item">
        <a href="#/server-template/value1/value2">/server-template/value1/value2</a>
    </li>
</ul>