<h5>This is a parameterized view!</h5>
<p>Default set of parameters for this view are <code>{"foo": "bar", "i": 1, "b": true}</code></p>
<p>Parameters will be matched by position in format  <code>/param1/param2/</code></p>
<p>If parameters are not supplied, default set is used, matched by position.</p>
<p>If there is more parameters then defined by default params set, router error is yield. In this example error handler navigates to <code>/error</code> route</p>
<hr />
<p>Current parameters: <code class="params"></code></p>
