@model (string param1, string param2)
<h5>This is a server-side rendered view!</h5>


<hr />
<p>
    Current parameters:
    <br />
    param1: <code>@Model.param1</code>
    <br />
    param2: <code>@Model.param2</code>
</p>
