@model (string param1, string param2)

<h5>This is a server-side rendered view, returned by REST API endpoint <code>"rest-template1/{param1}/{param2}"</code></h5>

<br />
<p>
    Server-side rendered views, returned by REST API are available to the router by <code>data-route-template-url</code> attribute.
</p>

<hr />
<p>
    Current parameters:
    <br />
    param1: <code>@Model.param1</code>
    <br />
    param2: <code>@Model.param2</code>
</p>
