@page "/"

@section Head
{
    <style>[data-route] { display: none; }</style>
}

<div class="text-center" data-route="/">
    <partial name="Views/_Home" />
</div>

<div data-route="/privacy">
    <partial name="Views/_Privacy" />
</div>

<div data-route="/parametrized" 
     data-route-params='{"foo": "bar", "i": 1, "b": true}'>
    <partial name="Views/_Parametrized" />
</div>

<div data-route="/rest-template" 
     data-route-template-url="/template1/{param1}/{param2}" 
     data-route-params='{"param1": "default1", "param2": "default2"}'>
</div>

<div data-route="/grpc-template"
     data-route-grpc-template-service="/templates.GrpcTemplates/GetTemplate2"
     data-route-params='{"1": "default1", "2:Int32": 1}'>
</div>

<div data-route="/error">
    <partial name="Views/_Error" />
</div>
